.banner{
    background-image: url(../../../images/banner.webp);
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slide_section {
    height: 550px;
    opacity: 1;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.shop_page{
    background-image: url(../../../images/shop_banner.webp);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.shop_page_h1{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 10%;
    position: absolute;
    width: 100%;
    padding: 12px;
    height: auto;
    border-style: dashed;
}

/* traking */
.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #FF5722
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #ee5435;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

/* image banner */
 .main-Image{
    height: 200px;
    width: 100%;
}
.sub-image{
    height: 100px;
    width: 100px;
}
.div-one
{
    height: 300px;
    width: 407px;
    border:2px solid black;

}
.slider-image{
    height: 450px;
    width: 100%;
}
#watch{
    background-color: silver;
    color: black;
    float: right;
    text-align: center;
}

/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    /* text-align: center; */
    text-transform: uppercase;
    padding: 20px 0;
}

.rating-css input {
    display: none;
}

.rating-css input+label {
    font-size: 25px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}

.rating-css input:checked+label~label {
    color: #b4afaf;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
